<div class="row p-5 align-items-center justify-content-around">
  <section class="col-md-6">
    <div class="alert alert-danger" *ngIf="registrateErr">
      {{ errMsg }}
    </div>
    <h1 class="h5">登録画面</h1>
    <hr class="mt-3 mb-3">
    <form [formGroup]="registForm" (ngSubmit)="onSubmit()">
      <dl class="form-group">
        <dt><label for="display_name">ログインネーム</label></dt>
        <dd><input type="text" name="display_name" id="display_name" class="form-control" required
                   formControlName="displayName">
          <small class="form-text text-muted">半角英数, -, +, .が使用できます</small>
        </dd>
        <dd *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)">
          <p class="text-danger" *ngIf="displayName.errors.required">ログインネームは必須です</p>
          <p class="text-danger" *ngIf="displayName.errors.registerRegex">半角英数, -, +, .で登録してください</p>
        </dd>
      </dl>
      <dl class="form-group" formGroupName="pw">
        <dt><label for="password">パスワード</label></dt>
        <dd class="form-row">
          <div class="col-md-6 mb-2">
            <input type="password" name="password" id="password" class="form-control" required
                   formControlName="password">
            <small class="form-text text-muted">最低8文字の半角英数</small>
          </div>
          <div class="col-md-6">
            <input type="password" name="password_conf" id="password_conf" class="form-control" required
                   placeholder="同じパスワードを入力してください" formControlName="password_conf">
          </div>
        </dd>
        <dd *ngIf="password.invalid && (password.dirty || password.touched)">
          <p class="text-danger" *ngIf="password.errors.required">パスワードは必須です</p>
          <p class="text-danger" *ngIf="password.errors.registerRegex">半角英数, -, +, .で登録してください</p>
        </dd>
        <dd *ngIf="password_conf.invalid && (password_conf.dirty || password_conf.touched)">
          <p class="text-danger" *ngIf="password_conf.errors.required">確認用パスワードを入力してください</p>
          <p class="text-danger" *ngIf="password_conf.errors.isSame">確認用パスワードが異なります</p>
        </dd>
      </dl>
      <dl class="form-group" formGroupName="ml">
        <dt><label for="mail">メールアドレス</label></dt>
        <dd class="form-row">
          <div class="col-md-6 mb-2">
            <input type="email" name="mail" id="mail" class="form-control" required formControlName="mail">
          </div>
          <div class="col-md-6">
            <input type="email" name="mail_conf" id="mail_conf" class="form-control"
                   formControlName="mail_conf" required placeholder="同じメールアドレスを入力してください">
          </div>
        </dd>
        <dd *ngIf="mail.invalid && (mail.dirty || mail.touched)">
          <p class="text-danger" *ngIf="mail.errors.required">メールアドレスは必須です</p>
          <p class="text-danger" *ngIf="mail.errors.email">メールアドレスをただしく入力してください</p>
        </dd>
        <dd *ngIf="mail_conf.invalid && (mail_conf.dirty || mail_conf.touched)">
          <p class="text-danger" *ngIf="mail_conf.errors.required">確認用メールアドレスを入力してください</p>
          <p class="text-danger" *ngIf="mail_conf.errors.isSame">確認用メールアドレスが異なります</p>
        </dd>
      </dl>
      <dl class="form-group" formGroupName="birthDate">
        <dt><label for="birth_date_year">生年月日</label></dt>
        <dd class="form-row">
          <div class="col-md">
            <div class="input-group mb-2">
              <select name="birth_date_year" id="birth_date_year" class="form-control"
                      formControlName="bd_year">
                <option *ngFor="let year of years" value="{{ year }}">{{ year}}</option>
              </select>
              <div class="input-group-apend">
                <div class="input-group-text">年</div>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="input-group mb-2">
              <select name="birth_date_month" id="birth_date_month" class="form-control"
                      formControlName="bd_month">
                <option *ngFor="let m of months" value="{{ m }}">{{ m }}</option>
              </select>
              <div class="input-group-apend">
                <div class="input-group-text">月</div>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="input-group mb-2">
              <select name="birth_date_day" id="birth_date_day" class="form-control"
                      formControlName="bd_day">
                <option *ngFor="let d of days" value="{{ d }}">{{ d }}</option>
              </select>
              <div class="input-group-apend">
                <div class="input-group-text">日</div>
              </div>
            </div>
          </div>

        </dd>
        <dd *ngIf="(bd_year.invalid && (bd_year.dirty || bd_year.touched)) || bd_month.invalid && (bd_month.dirty || bd_month.touched) || bd_day.invalid && (bd_day.dirty || bd_day.touched)">
          <p class="text-danger" *ngIf="bd_year.errors.required">生年月日を入力してください</p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="zip">郵便番号</label></dt>
        <dd class="form-row align-items-center">
          <div class="col-2">
            <input type="text" name="zip" id="zip" class="form-control" required formControlName="zip">
          </div>
          <div class="col-4">
            <button class="btn btn-outline-secondary" type="button" (click)="getAds(zip.value)" [disabled]="!zip.valid">郵便番号から住所を検索</button>
          </div>
        </dd>
        <dd *ngIf="zip.invalid && (zip.dirty || zip.touched)">
          <p class="text-danger" *ngIf="zip.errors.required">郵便番号を入力してください</p>
          <p class="text-danger" *ngIf="zip.errors.minLength || zip.errors.maxLength">郵便番号を7桁で入力してください</p>
          <p class="text-danger" *ngIf="zip.errors.isNumeric">郵便番号を数字で入力してください</p>
        </dd>
      </dl>
      <dl class="form-group" formGroupName="ads">
        <dt><label for="address_1">住所</label>
        <dt>
        <dd class="form-row">
          <div class="col-md-6">
            <input type="text" name="address_1" id="address_1" class="form-control" required
                   formControlName="ads1" placeholder="都道府県・市区町村・町名">
          </div>
          <div class="col-md-6">
            <input type="text" name="address_2" id="address_2" class="form-control" placeholder="建物名・号室"
                   formControlName="ads2">
          </div>
        </dd>
        <dd *ngIf="ads1.invalid && (ads1.dirty || ads1.touched)">
          <p class="text-danger" *ngIf="ads1.errors.required">住所を入力してください</p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="tel">電話番号</label></dt>
        <dd><input type="tel" name="tel" id="tel" class="form-control" required formControlName="tel"></dd>
        <dd *ngIf="tel.invalid && (tel.dirty || tel.touched)">
          <p class="text-danger" *ngIf="tel.errors.required">電話番号を入力してください</p>
        </dd>
      </dl>
      <div class="row justify-content-around">
        <div class="col-4">
          <button class="btn btn-primary w-100" type="submit">登録する</button>
        </div>
      </div>
    </form>
  </section>
</div>

