<header class="row site-header">
    <div class="col-11 mx-auto">
        <div class="row align-items-center">
            <p class="logo m-0"></p>
            <input type="text" class="form-control input">
            <a routerLink="" class="link1">検索</a>
            <a href="" class="link2">マーケットプレイス</a>
            <a href="" class="link3">コミュニティ</a>

            <div class="private">
                <fa-icon [icon]="faShoppingCurt" class="curt"></fa-icon>
                <div class="mail-wrap">
                    <fa-icon [icon]="faEnvelope" class="mail"></fa-icon>
                    <span class="badge badge-light">4</span>
                </div>
                <fa-icon [icon]="faUser" class="user"></fa-icon>
            </div>
        </div>
    </div>
</header>
